* { box-sizing: border-box; }

/* wrapper to control spacing inside your page */
.vc-wrapper {
  margin: 100px auto;
  text-align: center;
}

.scene {
  /* border: 1px solid #CCC; */
  position: relative;
  width: 210px;
  height: 140px;
  margin: 40px auto;
  perspective: 1000px;
}
.scene {
  cursor: grab;
}

.scene:active {
  cursor: grabbing;
}
.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

/* CELLS */
.carousel__cell {
  position: absolute;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

.carousel-options {
  text-align: center;
  background: rgba(255,255,255,0.8);
  padding: 10px;
}
